HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Eclipse ###
.classpath
.project
.settings/
.springBeans

### Logs ###
logs/
*.log

### OS ###
.DS_Store
Thumbs.db

### Maven Wrapper ###
.mvn/
mvnw
mvnw.cmd